/* ./styles/globals.css */

/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

/* Custom tailwind class */
@layer components {
  .link {
    @apply cursor-pointer  hover:text-blue-light active:text-blue-light;
  }
  .button {
    @apply cursor-pointer rounded text-center p-2 text-sm  text-white md:text-sm bg-gradient-to-b from-blue-light to-blue-dark border border-blue-light  focus:outline-none focus:ring-2 focus:ring-blue-dark active:from-blue-dark;
  }
}

/* Text color change animation */
@-webkit-keyframes colorChangeAnimation {
  0% {
    color: #0c4271;
  }
  100% {
    color: #0a81ab;
  }
}

@keyframes colorChangeAnimation {
  0% {
    color: #0c4271;
  }
  100% {
    color: #0a81ab;
  }
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f2937;
  scroll-behavior: smooth;
}

.heightFix {
  min-height: calc(100vh - 150px);
  height: 100%;
}

.product_image img {
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
}

.clr_change_animation {
  transition: all 0.5s;
  -webkit-animation: colorChangeAnimation 2s infinite;
  animation: colorChangeAnimation 2s infinite;
}
